@import '@carbon/type';

@include reset();
@include default-type();

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  display: none !important;
  @media (max-width: 600px) {
    position: sticky !important;
    right: 0 !important;
    top: 0 !important;
    display: inline-flex !important;
  }
}

.page-header {
  .header-text {
    @media (max-width: 600px) {
      display: none !important;
    }
  }
}

.prop-tabs {
  > div {
    @media (max-width: 600px) {
      max-width: 100vw;
      min-height: 0%;
      width: 100vw !important;
      overflow-x: auto;
    }
  }
}
